BOT_CHATID=must be a number
BOT_TOKEN=your bot token
SECRET_KEY=long alphanumeric string
COVALENT_API_KEY=covalent api key
WALLET_ADDRESS=an ethereum wallet addres
CURRENCY=fill with a supported Covalent currency
INFLUXDB_HOST=localhost
INFLUXDB_PORT=8086
CURRENCY_SIGN=$
