export BOT_CHATID=must be a number
export BOT_TOKEN=your bot token
export SECRET_KEY=long alphanumeric string
export COVALENT_API_KEY=covalent api key
export WALLET_ADDRESS=an ethereum wallet addres
export CURRENCY=fill with a supported Covalent currency
export INFLUXDB_HOST=localhost
export INFLUXDB_PORT=8086
export CURRENCY_SIGN=$
