<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>One Million Wallet
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../dist/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="../dist/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="menu"> <span></span> </div>
        <nav id="nav">
                <ul class="main">
                        <li><a target="_blank" href="https://www.facebook.com/ravi7284007">Hi There! Ravi</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/ravi7284007">About ME</a></li>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">Digital Marketing</a></li>
                        <li><a target="_blank" href="https://www.instagram.com/ravi_singh_7/">Portfolio</a></li>
                        <li><a target="_blank" href="https://500px.com/ravi7284007">Contact</a></li>
                </ul>
        </nav>
        <div class="overlay">
           
        </div>
        <div class="container container-box">
            <div class="row d-flex justify-content-center">
                <h1 class="header-text">Your amazing wallet - keep your assets safe</h1>
            </div>
          <!-- Dark table -->
      <div class="row mt-5">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Card tables</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Coin</th>
                    <th scope="col">Price</th>
                    <th scope="col">You have</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3" style="background-color: white;">
                          
                          <img class="zoom" alt="Image placeholder" src="https://logos-world.net/wp-content/uploads/2020/08/Bitcoin-Symbol.png">
                        </a>

                        <div class="media-body">
                          <span class="mb-0 text-sm">BTC</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      <p>$2,500 USD</p>
                      <p style="color: green; font-weight: bold;" ><i class="arrow up"></i> 4.95%</p>
                    </td>
                    <td>
                        <p>$2,500 USD</p>
                        <p>1.01010101010</p>
                    </td>
                
                    <td class="text-right">
                        <i class="bell fas fa-bell bell-active"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3" style="background-color: white;">
                          <img alt="Image placeholder" src="https://logos-world.net/wp-content/uploads/2020/08/Bitcoin-Symbol.png">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">BTC</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      <p>$2,500 USD</p>
                      <p style="color: green; font-weight: bold;" ><i class="arrow up"></i> 4.95%</p>
                    </td>
                    <td>
                        <p>$2,500 USD</p>
                        <p>1.01010101010</p>
                    </td>
                
                    <td class="text-right">
                        <i class="bell fas fa-bell bell-active"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3" style="background-color: white;">
                          <img alt="Image placeholder" src="https://logos-world.net/wp-content/uploads/2020/08/Bitcoin-Symbol.png">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">BTC</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      <p>$2,500 USD</p>
                      <p style="color: green; font-weight: bold;" ><i class="arrow up"></i> 4.95%</p>
                    </td>
                    <td>
                        <p>$2,500 USD</p>
                        <p>1.01010101010</p>
                    </td>
                
                    <td class="text-right">
                        <i class="bell fas fa-bell bell-active"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        </div>

        <script src="../dist/js/query.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
        <script src="../dist/bootstrap/dist/js/bootstrap.min.js" async defer></script>
        
        <script>
            $('.menu, .overlay').click(function () {
                $('.menu').toggleClass('clicked');
                
                $('#nav').toggleClass('show');
                
            });
            $(".bell").click(function() {
                $(this).toggleClass('bell-active');
            });
            </script>
          
    </body>
</html>