<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <link href="static/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>My Wallet App</h1>
        <h4>Powered by: <img src="https://www.covalenthq.com/static/images/covalent-logo.png" alt="Covalent Logo" style="width:7%;height:7%;"></h4>
        <br>

        <form action="/">
            <label for="currency">Choose your currency:</label>
            <select id="currency" name="currency">
                <option value="usd" selected>US Dollar</option>
                <option value="cad">Canada Dollar</option>
            </select><br>
            <label for="wallet">Enter wallet address or ENS:</label>
            <input type="text" name="wallet" value="demo.eth">
            <input type="submit" value="Get Wallet Balance">
        </form>
        <p>error: {{ error['error_message'] }}</p>
        <h3>Metadata</h3>
        <p>Wallet: {{ data['address']}}</p>
        <p>Last update: {{ data['updated_at'] }}</p>
        <p>Fiat currency: {{ data['quote_currency']}}</p>

        <table>
            <tr>
                <th></th>
                <th>Token</th>
                <th>Symbol</th>
                <th>Balance</th>
                <th>Fiat Value</th>
                <th>Type</th>
            </tr>
            {% for item in data['items'] %}
            
            <tr>
                <td><img src={{ item['logo_url'] }} height="50px" width="50px"></td>
                <td>{{ item['contract_name'] }}</td>
                <td>{{ item['contract_ticker_symbol'] }}</td>
                {% if item['contract_decimals'] != 0 %}
                    <td>{{ '%0.4f' | format((item['balance'] | int) / 10**(item['contract_decimals'])) }}</td>
                {% else %}
                    <td>{{ item['balance'] }}</td>
                {% endif %}
                <td>${{ '%0.2f' | format(item['quote']|float) }}</td>
                <td>{{ item['type']}} </td>
            </tr>
            {% endfor %}
        </table>
        <script src="static/script.js"></script>
    </body>
</html>
