<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Coins Wallet - Powered By Tabler UI</title>
    <!-- CSS files -->
    <link href="../static/libs/css/tabler.min.css" rel="stylesheet"/>
    <link href="../static/libs/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="../static/libs/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="../static/libs/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="../static/libs/css/demo.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body class="antialiased theme-dark">
    <div class="page">
      <div class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="navbar navbar-light">
            <div class="container-xl">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <img style="background-color: white; padding: 5px;" src="https://www.covalenthq.com/static/images/covalent-logomark.png" alt="">
                    </span>
                    <span class="nav-link-title">
                      Powered By Covalent 
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="navbar-nav flex-row order-md-last">
              <div class="nav-item">
                <a onclick="goBack()" class="nav-link d-flex lh-1 text-reset p-0">
                  <div class="d-none d-xl-block ps-2">
                    <div>Home</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container-xl">
          <div class="row row-deck row-cards">
            <div class="col-lg-11">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    <h3>Setup settings</h3>
                  </div>
                  <div class="ratio ratio-16x9">
                    <div>
                      <div class="w-100 h-100">
                          <div class="col">
                                <!-- Settings form -->
                                <form method="post" action="{{ url_for('settings') }}">
                                <div class="row mb-2 mt-2">
                                  <div class="col-3">
                                    <label for="wallets">Wallets</label>
                                  </div>
                                  <div class="col-9">
                                    {% if data['wallets'] %}
                                    <input class="form-control" value="
                                      {% for wallet in data['wallets'] %}
                                      {{ data['default_wallet'] }},
                                      {% endfor %}
                                      " id="wallets" name="wallets" type="text" placeholder="Comma separated list of wallet addresses">
                                      {% else %}
                                      <input class="form-control" value="{{ data['default_wallet'] }}" id="wallets" name="wallets" type="text" placeholder="Comma separated list of wallet addresses">
                                    {% endif %}
                                    
                                  </div>
                                </div>
                                <div class="row mb-2 mt-2">
                                  <div class="col-3">
                                    <label for="chat-id">Chat ID (Telegram):</label>
                                  </div>
                                  <div class="col-9">
                                    <input class="form-control" value="{{ data['chat_id'] }}" name="chat-id" id="chat-id" type="text" placeholder="Must be a number! can be obtained from telegram bot @useridgetbot">
                                  </div>
                                </div>
                                <div class="row mb-2 mt-2">
                                  <div class="col-3">
                                    <label for="currency">Currency</label>
                                  </div>
                                  <div class="col-9">
                                    <select name="currency" id="currency" class="form-control">
                                      <option value="usd" {% if data['currency'] == 'usd' %}selected{% endif %}>usd</option>
                                      <option value="eur" {% if data['currency'] == 'eur' %}selected{% endif %}>eur</option>
                                    </select>   
                                  </div>
                                </div>
                                <div class="row mb-2 mt-2">
                                  <div class="col-9"></div>
                                  <div class="col-3">
                                    <input value="Save Settings" class="btn btn-success btn-md" type="submit">
                                  </div>
                                </div>
                              </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Libs JS -->
    <script src="../static/libs/js/bootstrap.bundle.min.js"></script>

    <script src="../static/libs/js/jquery.slim.min.js"></script>
    <script src="../static/libs/js/apexcharts.min.js"></script>
    <!-- Tabler Core -->
    <script src="../static/libs/js/tabler.min.js"></script>
    <script>
      function goBack() {
        window.history.back();
      } 
    </script>
  </body>
</html>
